<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="favicon.ico?v=3" />
    <link rel="stylesheet" href="assets/css/main.css">
    <title>World Clocks</title>
</head>

<body id="worldClockBody">
    <div class="container-fluid no-padding-left-right">
        <div class="row no-padding-left-right height-full">
            <div class="clockcontainer col-md-4 no-padding-left-right">
                <div class="whole-page vertical-middle">
                    <div class="vertical-middle__child">
                        <div id="location_1" class="clock">
                            <ul class="clock__marks"></ul>
                            <div class="clock__am__pm">AM</div>
                            <div class="clock__hands">
                                <div class="clock__hand clock__hand--hour"></div>
                                <div class="clock__hand clock__hand--minute"></div>
                                <div class="clock__hand clock__hand--second"></div>
                            </div>
                            <div class="clock__location"></div>
                            <div class="clock__datetime"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clockcontainer col-md-4 no-padding-left-right">
                <div class="whole-page vertical-middle">
                    <div class="vertical-middle__child">
                        <div id="location_2" class="clock">
                            <ul class="clock__marks"></ul>
                            <div class="clock__am__pm">AM</div>
                            <div class="clock__hands">
                                <div class="clock__hand clock__hand--hour"></div>
                                <div class="clock__hand clock__hand--minute"></div>
                                <div class="clock__hand clock__hand--second"></div>
                            </div>
                            <div class="clock__location"></div>
                            <div class="clock__datetime"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clockcontainer col-md-4 no-padding-left-right">
                <div class="whole-page vertical-middle">
                    <div class="vertical-middle__child">
                        <div id="location_3" class="clock">
                            <ul class="clock__marks"></ul>
                            <div class="clock__am__pm">AM</div>
                            <div class="clock__hands">
                                <div class="clock__hand clock__hand--hour"></div>
                                <div class="clock__hand clock__hand--minute"></div>
                                <div class="clock__hand clock__hand--second"></div>
                            </div>
                            <div class="clock__location"></div>
                            <div class="clock__datetime"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clockcontainer col-md-4 no-padding-left-right">
                <div class="whole-page vertical-middle">
                    <div class="vertical-middle__child">
                        <div id="location_4" class="clock">
                            <ul class="clock__marks"></ul>
                            <div class="clock__am__pm">AM</div>
                            <div class="clock__hands">
                                <div class="clock__hand clock__hand--hour"></div>
                                <div class="clock__hand clock__hand--minute"></div>
                                <div class="clock__hand clock__hand--second"></div>
                            </div>
                            <div class="clock__location"></div>
                            <div class="clock__datetime"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clockcontainer col-md-4 no-padding-left-right">
                <div class="whole-page vertical-middle">
                    <div class="vertical-middle__child">
                        <div id="location_5" class="clock">
                            <ul class="clock__marks"></ul>
                            <div class="clock__am__pm">AM</div>
                            <div class="clock__hands">
                                <div class="clock__hand clock__hand--hour"></div>
                                <div class="clock__hand clock__hand--minute"></div>
                                <div class="clock__hand clock__hand--second"></div>
                            </div>
                            <div class="clock__location"></div>
                            <div class="clock__datetime"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clockcontainer col-md-4 no-padding-left-right">
                <div class="whole-page vertical-middle">
                    <div class="vertical-middle__child">
                        <div id="location_6" class="clock">
                            <ul class="clock__marks"></ul>
                            <div class="clock__am__pm">AM</div>
                            <div class="clock__hands">
                                <div class="clock__hand clock__hand--hour"></div>
                                <div class="clock__hand clock__hand--minute"></div>
                                <div class="clock__hand clock__hand--second"></div>
                            </div>
                            <div class="clock__location"></div>
                            <div class="clock__datetime"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../data.json" charset="utf-8"></script>
<script src="assets/js/main.min.js" charset="utf-8"></script>
</html>
