<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="favicon.ico?v=3" />
    <title>Iris Hybrid Content</title>
    <link rel="stylesheet" href="assets/css/hybrid.css">
</head>
<body>
    <canvas id="canvas" class="canvas" name="canvas"></canvas>
</body>
<script src="../../data.json"></script>
<script src="assets/js/jquery-slim.js"></script>
<script src="assets/js/fontFaceObserver.js"></script>
<script src="assets/js/fabric.js"></script>
<script src="assets/js/hybrid.js"></script>
</html>